@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

:root {
    --grad-1: #0c0c0c;
    --grad-2: #ecff00;
    --expressed-color: #ecff00
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

svg {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

a {
    text-decoration: none;
}

body {
	background: linear-gradient(70deg, #b1b1b1, #666666, #3e3f42, #000000);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
	height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    position: relative;
    width: 75%;
    margin: auto;
    padding: 5rem;
    background: linear-gradient(-70deg, #b1b1b1, #666666, #3e3f42, #000000);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
    border-radius: 10px;
}

.inner-container {
    display: grid;
    grid-template-columns: 4fr 2fr;
    justify-items: end;
    text-align: left;
}

/* Borders */
.container::after, .container::before {
    content:"";
    width: 20%;
    height: 50%;
    position:absolute;
    z-index: -1;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.container::after {
    background: linear-gradient(-38.7deg, var(--grad-1) 70%, var(--grad-2));
    left: -30px;
    top: -30px;
    border-top-left-radius: 10px;
}

.container::before {
    background: linear-gradient(133.7deg, var(--grad-1) 70%, var(--grad-2));
    right: -30px;
    bottom: -30px;
    border-bottom-right-radius: 10px;
}

/* Welcome Text */
.welcome-container {
    min-width: 450px;
    display: flex;
    justify-content: start;
}

.welcome {
    font-size: 100px;
    border-right: 2px solid #fff;
    animation: blink-caret .75s step-end infinite;
    margin-bottom: 2rem;
}

/* Text */
.text {
    display: none;
}

.text.active {
    display: block;
}

.text p {
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.inner-text {
    border-left: 2px solid transparent;
    padding-left: 25px;
    border-image: linear-gradient(0deg, var(--grad-2), var(--grad-1), var(--grad-2)) 1;
}

.text p b {
    color: var(--expressed-color);
}

.project-links{
    margin-top: 2rem;
}

.website {
    margin-right: 1rem;
    font-size: 20px;
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;
    border-image: linear-gradient(90deg, var(--grad-1), var(--grad-2), var(--grad-1)) 1;
}

p.website {
    display: inline;
}

/* Projects */
.projects-container {
    align-self: center;
}

.projects-container h2 {
    font-size: 30px;
    margin-bottom: 1rem;
}

.projects {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.projects p {
    font-size: 20px;
    margin-top: 1rem;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    border-image: linear-gradient(90deg, var(--grad-2), var(--grad-1), var(--grad-2)) 1;
    cursor: pointer;
}

/* Links */
.links {
    position: absolute;
    top: 25px;
    right: 5px;
}


/* Animations */

.inner-text {
    animation: appear 0.5s linear;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateX(400px);
      }
    100% {
        opacity: 1;
        transform: translateX(0);
      }
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #fff; }
}
